@using MyBlazorWasmWithAuth.Pages
@using static MyBlazorWasmWithAuth.Pages.FetchData
@inject HttpClient Http
@*<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in Forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </tbody>
</table>*@
<p>State:
<select>
    @if(States != null){
        @foreach(var state in States) {
            <option value="@state" selected=@(string.Equals(state,CurrentState))>@state</option>
        }
    }
</select>
City:

Selected state: @CurrentState
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. min (C)</th>
            <th>Temp. max (C)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @if(WeatherData != null && WeatherData.Forecasts != null && WeatherData.Forecasts.Count > 0) {
            foreach (var forecast in WeatherData.Forecasts)
            {
                <tr>
                    <td>@DateTime.ParseExact(@forecast.DateInt.ToString(),"yyyyMMdd",null).ToShortDateString()</td>
                    <td>@forecast.Temp.Min&#176;</td>
                    <td>@forecast.Temp.Max&#176;</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    [Parameter]
    public WeatherForecast[] Forecasts{ get; set; }
    [Parameter]
    public WeatherData WeatherData{ get; set; }

    public List<string>States{ get; set; }
    public List<string>Cities{ get; set; }

    public string CurrentState { get; set; } = "NV";

    protected override async Task OnInitializedAsync()
    {
        var locations = await Http.GetFromJsonAsync<LocationInfo[]>(@"uscities.json");
        States = locations!.Select(x => x.StateId).Distinct().ToList();
        States.Sort();
    }
}
