@using MyBlazorWasmWithAuth.Pages
@using static MyBlazorWasmWithAuth.Pages.FetchData
@*<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in Forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </tbody>
</table>*@
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. min (C)</th>
            <th>Temp. max (C)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @if(WeatherData != null && WeatherData.Forecasts != null && WeatherData.Forecasts.Count > 0) {
            foreach (var forecast in WeatherData.Forecasts)
            {
                <tr>
                    <td>@DateTime.ParseExact(@forecast.DateInt.ToString(),"yyyyMMdd",null).ToShortDateString()</td>
                    <td>@forecast.Temp.Min</td>
                    <td>@forecast.Temp.Max</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        }
    </tbody>
</table>


@code {
    [Parameter]
    public WeatherForecast[] Forecasts{ get; set; }
    [Parameter]
    public WeatherData WeatherData{ get; set; }
}
